.digi-dolyame-button {
  max-width: unset;
  min-width: unset;
  width: 281px !important;
  border-radius: 4px;
  margin: -15px 0 15px;
  align-items: center;
  background: transparent;
  border: .5px solid #c7c9cc;
  display: flex;
  padding: 12px;
  &--3 {
    border-color: transparent;
    background-color: #f5f5f5;
  }
  &__label {
    width: 64px;
    height: 20px;
    background-size: contain;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: unset !important;
    vertical-align: middle;
  }
  &__content {
    flex-grow: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  &__text {
    text-align: left;
    font-weight: 400;
    white-space: nowrap;
    margin: 0 !important;
    color: #000;
    font-size: 13px;
    line-height: 20px;
  }
  &__icon-arrow {
    width: 6px;
    height: 10.5px;
    fill: #9299a2;
  }
}
.snippetDolyame__details-of-payment {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #f6f7f8 !important;
  border-radius: 12px;
  margin: 20px 0;
  font-size: 12px;
  .details-of-payment_item {
    color: #949495 !important;
    width: 25%;
    list-style-type: none;
    &::after {
      content: "";
      background-color: rgba(0, 0, 0, .06) !important;
      border-radius: 6px;
      height: 5px;
      width: 95%;
      display: block;
    }
  }
  .details-of-payment_item:first-child {
    color: #000 !important;
    &::after {
      background-color: #4288f9 !important;
    }
  }
  .details-of-payment_price {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
  }
}
#block-modal-mydolyame {
  .modal-dialog {
    max-width: 600px;
  }
  .modal-header {
    margin: 0;
    text-align: left;
  }
  .modal-body {
    padding: 0;
    text-align: left;
  }
  .modal-content {
    padding: 24px;
  }
  .modal-close {
    top: 12px !important;
    right: 50px !important;
    background-color: unset !important;
    outline: unset !important;
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    &:hover {
      box-shadow: none;
    }
  }
  .digi-dolyame-modal {
    &__header {
      font-size: 32px;
      line-height: 38px;
      width: 100%;
      color: #000;
    }
    &__body-text-header {
      font-size: 24px;
      font-weight: 700;
    }
    &__body-text {
      text-align: left !important;
      font-size: 14px;
      color: rgba(0, 0, 0, .6) !important;
      margin-bottom: 8px;
    }
    &__features-list {
      display: flex;
      padding: 0;
    }
    &__item-features {
      list-style-type: none;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 14px;
      color: #000 !important;
      img {
        margin-right: 10px !important;
      }
    }
    &__details {
      text-align: center;
      color: rgba(0, 0, 0, .4) !important;
      font-size: 12px;
      a {
        color: #1771e6 !important;
      }
    }
  }
}
.checkout {
  .block-checkout-mydolyame {
    max-width: 500px;
    &__description-details {
      text-align: left !important;
      color: rgba(0, 0, 0, .6);
        font-size: 15px;
        line-height: 24px;
    }
    &__details {
      text-align: center;
      color: rgba(0, 0, 0, .4) !important;
      font-size: 12px;
      a {
        color: #1771e6 !important;
      }
    }
  }
}

