.digi-dolyame-button {
  max-width: unset;
  min-width: unset;
  width: 281px !important;
  border-radius: 4px;
  margin: -15px 0 15px;
  align-items: center;
  background: transparent;
  border: 0.5px solid #c7c9cc;
  display: flex;
  padding: 12px;
}
.digi-dolyame-button--3 {
  border-color: transparent;
  background-color: #f5f5f5;
}
.digi-dolyame-button__label {
  width: 64px;
  height: 20px;
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: unset !important;
  vertical-align: middle;
}
.digi-dolyame-button__content {
  flex-grow: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.digi-dolyame-button__text {
  text-align: left;
  font-weight: 400;
  white-space: nowrap;
  margin: 0 !important;
  color: #000;
  font-size: 13px;
  line-height: 20px;
}
.digi-dolyame-button__icon-arrow {
  width: 6px;
  height: 10.5px;
  fill: #9299a2;
}

.snippetDolyame__details-of-payment {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #f6f7f8 !important;
  border-radius: 12px;
  margin: 20px 0;
  font-size: 12px;
}
.snippetDolyame__details-of-payment .details-of-payment_item {
  color: #949495 !important;
  width: 25%;
  list-style-type: none;
}
.snippetDolyame__details-of-payment .details-of-payment_item::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.06) !important;
  border-radius: 6px;
  height: 5px;
  width: 95%;
  display: block;
}
.snippetDolyame__details-of-payment .details-of-payment_item:first-child {
  color: #000 !important;
}
.snippetDolyame__details-of-payment .details-of-payment_item:first-child::after {
  background-color: #4288f9 !important;
}
.snippetDolyame__details-of-payment .details-of-payment_price {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
}

#block-modal-mydolyame .modal-dialog {
  max-width: 600px;
}
#block-modal-mydolyame .modal-header {
  margin: 0;
  text-align: left;
}
#block-modal-mydolyame .modal-body {
  padding: 0;
  text-align: left;
}
#block-modal-mydolyame .modal-content {
  padding: 24px;
}
#block-modal-mydolyame .modal-close {
  top: 12px !important;
  right: 50px !important;
  background-color: unset !important;
  outline: unset !important;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
}
#block-modal-mydolyame .modal-close:hover {
  box-shadow: none;
}
#block-modal-mydolyame .digi-dolyame-modal__header {
  font-size: 32px;
  line-height: 38px;
  width: 100%;
  color: #000;
}
#block-modal-mydolyame .digi-dolyame-modal__body-text-header {
  font-size: 24px;
  font-weight: 700;
}
#block-modal-mydolyame .digi-dolyame-modal__body-text {
  text-align: left !important;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6) !important;
  margin-bottom: 8px;
}
#block-modal-mydolyame .digi-dolyame-modal__features-list {
  display: flex;
  padding: 0;
}
#block-modal-mydolyame .digi-dolyame-modal__item-features {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  color: #000 !important;
}
#block-modal-mydolyame .digi-dolyame-modal__item-features img {
  margin-right: 10px !important;
}
#block-modal-mydolyame .digi-dolyame-modal__details {
  text-align: center;
  color: rgba(0, 0, 0, 0.4) !important;
  font-size: 12px;
}
#block-modal-mydolyame .digi-dolyame-modal__details a {
  color: #1771e6 !important;
}

.checkout .block-checkout-mydolyame {
  max-width: 500px;
}
.checkout .block-checkout-mydolyame__description-details {
  text-align: left !important;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  line-height: 24px;
}
.checkout .block-checkout-mydolyame__details {
  text-align: center;
  color: rgba(0, 0, 0, 0.4) !important;
  font-size: 12px;
}
.checkout .block-checkout-mydolyame__details a {
  color: #1771e6 !important;
}
/*# sourceMappingURL=_maps/payDolyameSnippet.css.map */
