{%
  set classes = [
    'block',
    'modal-content',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

{% set iconDolyame = '/' ~ module_path ~ '/assets/image/dolyame.svg' %}
{% set iconStar = '/' ~ module_path ~ '/assets/image/star.svg' %}
{% set iconMap = '/' ~ module_path ~ '/assets/image/map.svg' %}

<div class="modal fade" id="{{ attributes.id }}" tabindex="-1" role="dialog" aria-labelledby="MyDolyameLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div{{attributes.addClass(classes)|without('id')}}>
      <div class="modal-header">
        <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|t }}">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ title_prefix }}
        <div class="digi-dolyame-modal__header">
          <img src={{iconDolyame}} alt="dolyame">
          <div class="digi-dolyame-modal__body-text-header">
            Оплатите 25% от стоимости покупки
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p class="digi-dolyame-modal__body-text">
          Оставшиеся 3 части спишутся автоматически с шагом в две недели
        </p>
        <ul class="digi-dolyame-modal__features-list">
          <li class="digi-dolyame-modal__item-features">
            <img src={{iconStar}} alt="star">
            Без процентов и комиссий
          </li>
          <li class="digi-dolyame-modal__item-features">
            <img src={{iconMap}} alt="map">
            Как обычная оплата картой
          </li>
        </ul>
        <ul class="snippetDolyame__details-of-payment"></ul>
        <p class="digi-dolyame-modal__details">
          Подробнее о сервисе можно узнать на
          <noindex>
            <a href="https://dolyame.ru" target="_blank" rel="nofollow">dolyame.ru</a>
          </noindex>
        </p>
      </div>
    </div>
  </div>
</div>
{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
